<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <table>
    <thead>
      <tr>
        <th>uid</th>
        <th>name</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(e => {  %>
      <tr>
        <th><%=e.uuid %></th>
        <th><%=e.name %></th>
      </tr>
      <% }); %>
    </tbody>
  </table>
</body>

</html>